@import 'tailwindcss';

:root {
  --tile-color-white: var(--color-gray-200);
  --tile-color-black: var(--color-gray-400);
  --color-bg: var(--color-gray-300);
  --color-selected: var(--color-gray-700);

  background: var(--color-stone-700);
}
